

#about {
  background: #efeddf;
  padding: 20px;
  border: 2px solid #57645d;
}

#about-content {
  text-align: left;
}


#article-links {
  list-style-type: none;
}

#article-links a {
  font-weight: bold;
  color: #3f4944;
  text-decoration: none;
}

#article-text {

}

.bit-5 {
  background: white;
  padding: 20px;
  text-align: center;
  border: 2px solid #57645d;
  color: #606e67;
  float: right;
  display: block;
}

.bit-75 {
  background: white;
  padding: 20px;
  text-align: left;
  border: 5px solid #57645d;
  color: #606e67;
  text-indent: 
}


.clearfooter {
  height: 330px;
  clear: both;
}

#contact {
  background: #efeddf;
  padding: 20px;
  border: 2px solid #57645d;
}

#contact-content {
  text-align: left;
}


footer {
  position: relative;
  width: 100%;
  height: 330px;
  background: #3f4944;
}



html,body {
  background: url(graygreenwood.jpg);
  height: 100%;
}


#title a {
  color: #555;
  text-decoration: none !important;
}

#main-header {
  height: 140px;
  background: #57645d;  
  position: fixed;
  top: 0px;
  margin: auto;
  z-index: 100000;
  width: 100%;

}


#main-nav ul {
  text-align: center;
  margin-top: 120px;
}

#main-nav ul li {
  padding-left: 10px;
  display: inline-block;
  margin-right: 20px;
}

#main-nav ul li a {
  text-decoration: none;
  color: #efeddf;
}



#new-article-path a {
  font-weight: bold;
  color: #3f4944;
}

#recent-article li {
  list-style: none;
}

#recent-article li a {
  color: #57645d;
  text-decoration: none;
}
